$color-grey: #898989;
$color-dark-blue: #171C28;
$color-darkest-blue: #131824;
$color-white: #FFFFFF;

$color-grey-low-opacity: rgb(255 255 255 / 33%);

$font-euclid: "Euclid Circular A", sans-serif;
